.app {
  background-color: #282c34;
  text-align: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.item {
  margin-top: 16px;
  margin-bottom: 16px;
}

a {
  color: #61dafb;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
